<div class="container">

    <h1>View Product</h1>

  

    <a href="#" routerLink="/product/index" class="btn btn-primary">Back</a>

   

    <div>

        <strong>ID:</strong>

        <p>{{ product.productId }}</p>

    </div>

   

    <div>

        <strong>Name:</strong>

        <p>{{ product.name }}</p>

    </div>

   


    <div>

        <strong>Price:</strong>

        <p>{{ product.price }}</p>

    </div>
    <div>

        <strong>Stock Quantity:</strong>

        <p>{{ product.stockQuantity }}</p>

    </div>

</div>