<div class="container">

    <h1>Create New Product</h1>

    <a href="#" routerLink="/order/index" class="btn btn-primary">Back</a>

    <form [formGroup]="form" (ngSubmit)="submit()">

            <!-- dropdown-component.component.html -->
    <div class="form-group">
      <label for="productDropdown">Select an Option:</label>
      <select id="productDropdown" formControlName="selectedItem" (change)="onItemSelect($event)">
        <option [ngValue]="undefined" disabled selected>-- Select an item --</option>
        <option *ngFor="let item of products" [ngValue]="item">{{ item.name }}</option>
      </select>

      <div *ngIf="selectedItem">
        <p>You selected: {{ selectedItem.name }} (ID: {{ selectedItem.productId }})</p>
      </div>
    </div>
        <div class="form-group">

            
            <label for="customerName">Customer Name:</label>

            <input 

                formControlName="customerName"

                id="customerName" 

                type="text" 

                class="form-control">

            <div *ngIf="f['customerName'].touched && f['customerName'].invalid" class="alert alert-danger">

                <div *ngIf="f['customerName'].errors && f['customerName'].errors['required']">Customer  name is required.</div>

            </div>

        </div>

  

        <div class="form-group">

            <label for="totalAmount">Total Amount</label>

            <textarea 

                formControlName="totalAmount"

                id="totalAmount" 

                type="text" 

                class="form-control">

            </textarea>

        </div>

  
        <div class="form-group">

            <label for="status">Status:</label>

            <input 

                formControlName="price"

                id="price" 

                type="text" 

                class="form-control">

            <div *ngIf="f['price'].touched && f['price'].invalid" class="alert alert-danger">

                <div *ngIf="f['price'].errors && f['price'].errors['required']">Product price is required.</div>

            </div>

        </div>

        <div class="form-group">

            <label for="stockQuantity">Stock Quantity:</label>

            <input 

                formControlName="stockQuantity"

                id="stockQuantity" 

                type="text" 

                class="form-control">

            <div *ngIf="f['stockQuantity'].touched && f['stockQuantity'].invalid" class="alert alert-danger">

                <div *ngIf="f['stockQuantity'].errors && f['stockQuantity'].errors['required']">Product stock quantity is required.</div>

            </div>

        </div>


        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>

    </form>

</div>
