<!-- <p>index works!</p> -->
<div class="container">

    <h1>Order List</h1>

    <a href="#" routerLink="/order/create/" class="btn btn-success">Create New Order</a>

    <table class="table table-striped">
        <thead>

              <tr>
                <th>Id</th>
                <th>Customer Name</th>
                <th>order Date</th>
                <th>Total Amount</th>
                <th>Status</th>
                <th class="text-center" width="250px">Action</th>
              </tr>

        </thead>

        <tbody>

              <tr *ngFor="let order of orders">

                <td>{{ order.orderId }}</td>

                <td>{{ order.customerName}}</td>

                <td>{{ order.orderDate | date :"dd MMMM yy" }}</td>
                <td>{{ order.totalAmount }}</td>
                <td>  {{ order.status == 0 ? 'Pending' : (order.status == 1 ? 'Completed' : 'Cancelled') }}</td>
              

                <td>

                    <!-- <a href="#" [routerLink]="['/product/', product.productId,'view'] " class="btn btn-info">View</a>

                  <a href="#" [routerLink]="['/product/', product.productId, 'edit']" class="btn btn-primary">Edit</a> -->

                  
                </td>

              </tr>

        </tbody>

    </table>

 </div>